<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZZH_PHOTOTOOL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BD5C348A1DDA9D250047CABC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD5C34A31DDA9D260047CABC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD5C34AE1DDA9D260047CABC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
